<h1>{{title}}</h1>

<p>Imagens Banner</p>

<a href="/realtimeproducts">Visualização em tempo real dos produtos</a>

<ul>
  {{#each products}}
    <li>
      <h2>
        {{title}}
      </h2>
      <p>{{category}}</p>
      <p>{{description}}</p>
      <span><p>R${{price}}</p> <p>Estoque: {{stock}}</p></span>
      <span><button>Editar</button> <button>Deletar</button></span>
    </li>
  {{/each}}
</ul>