<header>
  <nav class="navbar">
    <img src="./images/icon.png" alt="" srcset="" />

    <div class="info-nav">
      <h1>{{title}}</h1>
      <div class="nav-items">
        <a href="/realtimeproducts">Visualização em tempo real</a>
        <a href="/realtimeproducts/form">Adicionar Produto</a>
      </div>

    </div>
  </nav>
</header>

<div class="container">
  <section class="section-banner">
    <img src="./images/banner.jpg" alt="" />
    <div class="info-books">
      <p>Nossos Livros</p>
      <a class="btn-redirect" href="/realtimeproducts">VER MAIS</a>
    </div>
  </section>

  <section class="products home-exhibition">
    {{#if products}}
      <h2>Produtos</h2>

      <ul>
        {{#each products}}
          <li class="card-product">
            <div class="info-principal">
              <h3>
                {{title}}
              </h3>
              <img
                class="thumbnail"
                src="./uploads/{{last thumbnails}}"
                alt=""
              />
            </div>
            <p class="category">{{category}}</p>
            <p class="description">{{description}}</p>
            <span class="price-stock"><p class="price">R$ {{price}}</p>
              <p class="stock">Estoque: {{stock}}</p></span>
            <span class="btn-product"><button
                onclick="window.location.href='/products/{{id}}/edit'"
              >Editar</button>
              <button
                onclick="window.location.href='/products/{{id}}/remove'"
              >Deletar</button></span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </section>

</div>