<header>
  <nav class="navbar">
    <img src="./images/icon.png" alt="" srcset="" />

    <div class="info-nav">
      <h1>{{title}}</h1>
      <div class="nav-items">
        <a href="/">Início</a>
        <a href="/realtimeproducts/form">Adicionar Produto</a>
      </div>

    </div>
  </nav>
</header>

<div class="container">
  <section class="products">
    {{#if products}}
      <h2>Produtos</h2>

      <ul>
        {{#each products}}
          <li class="card-product">
            <div class="info-principal">
              <h3>
                {{title}}
              </h3>
              <img
                class="thumbnail"
                src="./uploads/{{last thumbnails}}"
                alt=""
              />
            </div>

            <p class="category">{{category}}</p>
            <p class="description">{{description}}</p>
            <span class="price-stock"><p class="price">R$ {{price}}</p>
              <p class="stock">Estoque: {{stock}}</p></span>
            <span class="btn-product"><button
                onclick="window.location.href='/products/{{id}}/edit'"
              >Editar</button>
              <button
                onclick="window.location.href='/products/{{id}}/remove'"
              >Deletar</button></span>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <h3 class="isProduct">Não há produtos para listar...</h3>
    {{/if}}
  </section>
</div>

<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
<script>
  const socket = io(); socket.on("listProductsUpdated", () => {
  location.reload(); });
</script>