<h1>{{title}}</h1>

<a href="/realtimeproducts/form">Adicionar Produto</a>

<ul>
  {{#each products}}
    <li>
      <h2>
        {{title}}
      </h2>
      <p>{{category}}</p>
      <p>{{description}}</p>
      <span><p>R${{price}}</p> <p>Estoque: {{stock}}</p></span>
      <span><button>Editar</button> <button>Deletar</button></span>
    </li>
  {{/each}}
</ul>

<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
<script>
  const socket = io(); socket.on("listProductsUpdated", () => {
  location.reload(); });
</script>
